@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="display-4">Trang Web Quản Ký Bán Vé Máy Bay</p>
</div>
